{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Integrador Repasse",
    "termsOfService": "https://repasses.com.br/terms/",
    "contact": {
      "email": "suporte@repasses.com.br",
      "url": "https://repasses.com.br"
    },
    "x-logo": {
      "url": "https://www.repasses.com.br/wp-content/themes/2018_repasse_site/assets/images/logo-repasse-white.png",
      "backgroundColor": "#2B4F83"
    },
    "description": "\nEsta é a API para visualização / cadastro de anúncios da plataforma Repasse\n# Introdução\nEsta especificação visa auxiliar programadores a integrarem seus sistemas com a plataforma Repasse.\n## Ambientes\nOferecemos o ambiente de testes para envio de anúncios até a homologação, o endereço da api está em http://beta.aplicativorepasse.com.br. O ambiente de produção (apenas para clientes homologados estão em https://srv.aplicativorepasse.com.br)\nPara obter uma credencial de testes e de produção contate o depto comercial.\n## Autenticação:\nApós obter sua credencial você deve informá-la em suas requisições usando a chave Api-Key no seu header\n\n\n## Jornada do anúncio\nSiga estes passos para publicar um novo anúncio:\n1. Obtenha a lista auxiliar (marcas/modelos/anos/opcionais/vendedores)\n1. Com a marca e o ano desejado obtenha a fipe do anúncio\n1. Com os dados das listas auxiliares envie o cadastro do anúncio\n1. Envie entre 4 e 10 fotos\n1. Solicite a publicação do anúncio\n"
  },
  "tags": [
    {
      "name": "Car",
      "description": "Operações referentes ao cadastro e edição de anúncios"
    }
  ],
  "servers": [
    {
      "url": "https://beta.aplicativorepasse.com.br/api"
    },
    {
      "url": "https://srv.aplicativorepasse.com.br/api"
    }
  ],
  "paths": {
    "/store_site/{store_id}/car": {
      "post": {
        "tags": [
          "Car"
        ],
        "summary": "Cria um novo Carro",
        "description": "Novos carros são criados por este endpoint",
        "operationId": "createCar",
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "description": "Código da loja",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Car"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Carro cadastrado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "car_id": {
                      "type": "integer",
                      "description": "ID do carro (anúncio)"
                    },
                    "msg": {
                      "type": "string",
                      "description": "Mensagem informativa"
                    }
                  }
                },
                "example": {
                  "car_id": 515,
                  "msg": "Anúncio cadastrado com sucesso"
                }
              }
            }
          },
          "400": {
            "description": "Um dos campos obrigatórios não foi preenchido"
          }
        }
      }
    },
    "/store_site/{store_id}/car/{car_id}": {
      "parameters": [
        {
          "name": "store_id",
          "in": "path",
          "description": "Código da loja",
          "required": true,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "car_id",
          "in": "path",
          "description": "Código da carro",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "put": {
        "tags": [
          "Car"
        ],
        "summary": "Edita carro já publicado",
        "description": "Edição de carro",
        "operationId": "editCar",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditCar"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Carro editado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "car_id": {
                      "type": "integer",
                      "description": "ID do carro (anúncio)"
                    },
                    "msg": {
                      "type": "string",
                      "description": "Mensagem informativa"
                    }
                  }
                },
                "example": {
                  "car_id": 515,
                  "msg": "Anúncio cadastrado com sucesso"
                }
              }
            }
          },
          "400": {
            "description": "Um dos campos obrigatórios não foi preenchido"
          }
        }
      }
    },
    "/store_site/{store_id}/car/{car_id}/image": {
      "post": {
        "tags": [
          "Car"
        ],
        "summary": "Envia uma imagem referente a um carro",
        "operationId": "saveCarPhoto",
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "description": "Código da loja",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "car_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Id do carro"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "filename"
                ]
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Imagem enviada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "resultado da operação (true or false)"
                    },
                    "data": {
                      "type": "object",
                      "description": "Dados da operação",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Id da imagem enviada"
                        },
                        "filename": {
                          "type": "string",
                          "description": "Nome do arquivo thumbnail para ser usado no frontend"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 10,
                    "filename": "23103210321321.png"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, falta algum campo obrigatório"
          },
          "404": {
            "description": "Anúncio não existe"
          }
        }
      }
    },
    "/store_site/{store_id}/car/{car_id}/image/{image_id}": {
      "delete": {
        "tags": [
          "Car"
        ],
        "summary": "Remove a imagem do carro",
        "operationId": "removeImage",
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "description": "Código da loja",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "car_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Id do carro"
          },
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Id da imagem"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Imagem removida com sucesso"
          },
          "404": {
            "description": "Imagem não encontrada"
          },
          "422": {
            "description": "Um dos parâmetros (loja/carro/imagem) não foi informado"
          }
        }
      }
    },
    "/store_site/{store_id}/car/{car_id}/publish": {
      "post": {
        "tags": [
          "Car"
        ],
        "summary": "Publica o carro na plataforma",
        "description": "Envia o carro para publicação na plataforma ele vai ser moderado pelo nosso sistema e, caso liberado, estará apto a receber negociações e propostas",
        "operationId": "publishCar",
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "description": "Código da loja",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "car_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Id do anúncio"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Enviado com sucesso, o resultado (em análise/publicado/exclusivo) vem no corpo deste resultado"
          },
          "409": {
            "description": "A quantidade de fotos obrigatórias (atualmente entre 4 e 10) está incorreta"
          },
          "422": {
            "description": "Falta um parâmetro obrigatório (loja/carro)"
          }
        }
      }
    },
    "/store_site/{store_id}/car/{car_id}/remove": {
      "parameters": [
        {
          "name": "store_id",
          "in": "path",
          "description": "Código da loja",
          "required": true,
          "schema": {
            "type": "integer"
          }
        },
        {
          "name": "car_id",
          "in": "path",
          "description": "Código da carro",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "tags": [
          "Car"
        ],
        "summary": "Solicita a remoção de um carro da plataforma",
        "description": "Permite encerrar a venda de um carro, tanto removendo como marcando como vendido",
        "operationId": "removeCar",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveCar"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Solicitação efetuada com sucesso"
          }
        }
      }
    },
    "/store_site/{store_id}/populate/model/{brand_id}/{year}": {
      "get": {
        "tags": [
          "Auxiliares"
        ],
        "summary": "Obtem a lista de modelos para cadastro de anúncios",
        "operationId": "populateModels",
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "required": true,
            "description": "Id do cliente",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "brand_id",
            "in": "path",
            "required": true,
            "description": "Marca do veículo ( obtido em populate/{car_type} )",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "description": "Ano do Modelo do veículo (1984/2020) ou Zero KM",
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ]
            }
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Dados da requisição",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "resultado da requisição"
                    },
                    "data": {
                      "type": "array",
                      "description": "Dados da tabela Fipe",
                      "items": {
                        "$ref": "#/components/schemas/Fipe"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/store_site/{store_id}/populate/type/{car_type}": {
      "get": {
        "tags": [
          "Auxiliares"
        ],
        "summary": "Obtem a lista inicial para cadastro de anúncios (e também para pesquisar anúncios)",
        "operationId": "populateCar",
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "required": true,
            "description": "id do cliente",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "car_type",
            "in": "path",
            "required": true,
            "description": "Tipo de veículo (0=carro, 5=caminhão, 8=moto)",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                5,
                8
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dados da requisição",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Resultado da requisição"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "brands": {
                          "description": "Listagem de marcas",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Brand"
                          }
                        },
                        "models": {
                          "description": "Listagem de modelos (que será utilizada para obter a fipe)",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Modelo"
                          }
                        },
                        "colors": {
                          "description": "ID da cor (que será usado no cadastro de anúncio)",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Color"
                          }
                        },
                        "doors": {
                          "type": "array",
                          "description": "Portas de um carro (2,3,4,5) que será usado no cadastro de anúncio",
                          "items": {
                            "type": "integer"
                          }
                        },
                        "eixos": {
                          "description": "Eixos de caminhão que será usado no cadastro de anúncio",
                          "type": "array",
                          "items": {
                            "type": "string",
                            "description": "Eixos de caminhão"
                          }
                        },
                        "optionals": {
                          "description": "ID do opcional do anúncio (que será usado no cadastro de anúncio)",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Optional"
                          }
                        },
                        "years": {
                          "description": "Ano para utilizar na pesquisa da fipe",
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "integer"
                              },
                              {
                                "type": "string"
                              }
                            ]
                          }
                        },
                        "sellers": {
                          "description": "ID dos vendedores da sua loja que será usado no cadastro de anúncio",
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Seller"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Brand": {
        "type": "object",
        "description": "Marca de um carro",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID da marca"
          },
          "name": {
            "type": "string",
            "description": "Nome da marca"
          },
          "type": {
            "type": "integer",
            "description": "Tipo do carro"
          }
        }
      },
      "Car": {
        "type": "object",
        "description": "Dados para um novo carro",
        "properties": {
          "color_id": {
            "type": "integer",
            "description": "Código da Cor"
          },
          "doors": {
            "type": "integer",
            "description": "Quantidade de portas (padrão 4)"
          },
          "eixos": {
            "type": "string",
            "description": "Informação referente aos eixos (exclusivo para caminhões)"
          },
          "brand_id": {
            "type": "integer",
            "description": "Código da marca"
          },
          "fipe_id": {
            "type": "integer",
            "description": "Código da tabela Fipe"
          },
          "year": {
            "type": "integer",
            "description": "Ano de fabricação do veículo"
          },
          "observation": {
            "type": "string",
            "description": "Observações"
          },
          "cost": {
            "type": "number",
            "description": "Preço de custo do carro"
          },
          "price": {
            "type": "number",
            "description": "Valor do carro"
          },
          "km": {
            "type": "integer",
            "description": "Quilometragem do carro"
          },
          "optionals": {
            "description": "Opcionais do carro",
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        },
        "required": [
          "color_id",
          "brand_id",
          "fipe_id",
          "year",
          "observation",
          "price",
          "km",
          "optionals"
        ]
      },
      "Color": {
        "type": "object",
        "description": "Cores de um carro",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID da cor (que será usado no cadastro de anúncio)"
          },
          "name": {
            "type": "string",
            "description": "Nome da cor"
          }
        }
      },
      "EditCar": {
        "type": "object",
        "description": "Dados para um editar um carro",
        "properties": {
          "color_id": {
            "type": "integer",
            "description": "Código da Cor"
          },
          "doors": {
            "type": "integer",
            "description": "Quantidade de portas (padrão 4)"
          },
          "eixos": {
            "type": "string",
            "description": "Informação referente aos eixos (exclusivo para caminhões)"
          },
          "observation": {
            "type": "string",
            "description": "Observações"
          },
          "cost": {
            "type": "number",
            "description": "Preço de custo do carro"
          },
          "price": {
            "type": "number",
            "description": "Valor do carro"
          },
          "km": {
            "type": "integer",
            "description": "Quilometragem do carro"
          },
          "optionals": {
            "description": "Opcionais do carro",
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        },
        "required": [
          "color_id",
          "observation",
          "price",
          "km",
          "optionals"
        ]
      },
      "Fipe": {
        "type": "object",
        "description": "Dados da fipe de um anúncio",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID da fipe (que será usado no cadastro de anúncio)"
          },
          "modelo_id": {
            "type": "integer",
            "description": "Código do modelo"
          },
          "brand_id": {
            "type": "integer",
            "description": "ID da marca"
          },
          "year": {
            "type": "string",
            "description": "Ano do modelo"
          },
          "fuel": {
            "type": "string",
            "description": "Combustível do modelo"
          },
          "code": {
            "type": "string",
            "description": "Código da Fipe, o mesmo apresentado no site da Fipe"
          },
          "price": {
            "type": "number",
            "description": "Valor atual do veículo na tabela fipe"
          },
          "type": {
            "type": "string",
            "description": "Tipo de veículo (0=carro, 5=caminhão, 8=moto)"
          }
        }
      },
      "Modelo": {
        "type": "object",
        "description": "Objeto com o tipo de carro",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Id do modelo"
          },
          "name": {
            "type": "string",
            "description": "Nome do modelo"
          },
          "car_type": {
            "type": "integer",
            "description": "Tipo do veículo"
          },
          "brand_id": {
            "type": "integer",
            "description": "Id da marca"
          }
        }
      },
      "Optional": {
        "type": "object",
        "description": "Opcional de um carro",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID do opcional do anúncio (que será usado no cadastro de anúncio)"
          },
          "name": {
            "type": "string",
            "description": "Nome do item Opcional"
          },
          "description": {
            "type": "string",
            "description": "Descrição do item opcional"
          },
          "type": {
            "type": "integer",
            "description": "Tipo do veículo"
          }
        }
      },
      "RemoveCar": {
        "type": "object",
        "description": "Dados para remover um carro da plataforma",
        "properties": {
          "reason_id": {
            "type": "integer",
            "description": "Motivo da exclusão 1- Vendido pela plataforma 2- Vendido fora da plataforma 3- Somente excluir"
          },
          "buyer_id": {
            "type": "integer",
            "description": "Para anúncios excluídos motivo 1 você pode informar a id do comprador"
          }
        },
        "required": [
          "reason_id"
        ]
      },
      "Seller": {
        "type": "object",
        "description": "Dados de um vendedor",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ID do vendedor"
          },
          "name": {
            "type": "string",
            "description": "Nome do vendedor"
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "Api-Key"
      }
    }
  }
}
