openapi: 3.0.0
info:
  version: 1.0.0
  title: Integrador Repasse
  termsOfService: 'https://repasses.com.br/terms/'
  contact:
    email: suporte@repasses.com.br
    url: 'https://repasses.com.br'
  x-logo:
    url: 'https://www.repasses.com.br/wp-content/themes/2018_repasse_site/assets/images/logo-repasse-white.png'
    backgroundColor: "#2B4F83"
  description: >

    Esta é a API para visualização / cadastro de anúncios da plataforma Repasse

    # Introdução

    Esta especificação visa auxiliar programadores a integrarem seus sistemas com a plataforma Repasse.

    ## Ambientes

    Oferecemos o ambiente de testes para envio de anúncios até a homologação, o endereço da api está em http://beta.aplicativorepasse.com.br. O ambiente de produção (apenas para clientes homologados estão em https://srv.aplicativorepasse.com.br)

    Para obter uma credencial de testes e de produção contate o depto comercial.

    ## Autenticação:

    Após obter sua credencial você deve informá-la em suas requisições usando a chave Api-Key no seu header



    ## Jornada do anúncio

    Siga estes passos para publicar um novo anúncio:

    1. Obtenha a lista auxiliar (marcas/modelos/anos/opcionais/vendedores)

    1. Com a marca e o ano desejado obtenha a fipe do anúncio

    1. Com os dados das listas auxiliares envie o cadastro do anúncio

    1. Envie entre 4 e 10 fotos

    1. Solicite a publicação do anúncio



tags:
  - name: Car
    description: Operações referentes ao cadastro e edição de anúncios
servers:
  - url: 'http://beta.aplicativorepasse.com.br/api'
  - url: 'http://app.repasse/api'
